*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
html,
body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
}
.parent{
  height: 100vh;
  width: 100vw;

}
.card{
  width: 200px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
}
.card img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.card p{
  margin: 20px 0;
}
.card button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #111;
  color: whitesmoke;
  cursor: pointer;
}